// main 
// use her zaman üstte kullanılmalıdır. Yoksa hata verir.


//? ABSTRACTS-BASES
@use "./abstracts/variables"  as v;
@use "./abstracts/mixin";
@use "./base/reset"; // içinde değişken vs olmadığı içinas e ihtiyaç duyulmadı.


//? COMPONENTS
@use "./components/navbar";
@use "./components/responsive";
@use "./components/footer";

//? SECTIONS
@use "./sections/home";
@use "./sections/about";
@use "./sections/destination";
@use "./sections/guide";

//? FONT-3RD PARTY
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Mulish&family=Playfair+Display&family=Rampart+One&display=swap");


// @use "./abstracts/color" as c  bu use e özel bişeydir.
// hala göremedi neden? ya variables.$mainColor denilmeli ya da as kullanılmalı;
// variables ve abstarckta da main colors var hangisi geçerli hengisini çağırırsam.
// importta bir değişken yalnızca bir kez kullanılabilir. ancak as ya da . adres kullanılmalıdır. 

// @use "./abstacts/variables" as * abstart içerisindeki her türlü variablesı kullan.


body{
    background-color: v.$mainColor;
    // background-color: $mainColor;
}

.container{
    max-width: v.$maxWidth;
    // sayfa ortalandı
    margin: auto;
    padding: 1rem;
}

button,
i{
    cursor:pointer;
}